* {
    border: 1px dashed red;
    min-height: 10px;
}
body {
	background: rgb(196, 190, 190);
}
.main-div {
	background: white;
	width: 500px;
	height: 800px;
	margin: auto;
   
}
img {
    max-width: 500px;
    background-color: rgb(251, 255, 6);
}
.header-middle{
    height: 80px;
    width: 80px;
    background-color: aqua;
}
.header-right{
    height: 80px;
    width: 100px;
    background-color: rgb(163, 194, 53);
}
.header-left{
    height: 80px;
    width: 50px;
    background-color: rgb(102, 107, 107);
}
.body{
    height: 300px;
    display: flex;
    width: auto;
}