body {
	background: rgb(196, 190, 190);
}
.main-div {
	background: white;
	width: 450px;
	height: 500px;
	margin: auto;
   
}
img {
    max-width: 500px;
    background-color: rgb(251, 255, 6);
}
.header{
    display: flex;
    height: 60px;
}
.header-middle{
     margin-top: 0px;
    height: 60px;
   max-width:80px;
}
.header-right{
    height: 60px;
    width: 370px;
       
}
.header-left{
    height: 60px;
    width: 50px;
}
.body{
    height: 300px;
    display: flex;
    width: auto;
}