body {
	background: rgb(255, 255, 255);
}
.main-div {
	background: white;
	width: 450px;
	height: 500px;
    margin: 100px;
}
img {
    max-width: 500px;
    background-color: rgb(251, 255, 6);
}
.header{
    display: flex;
    height: 50px;
}
.header-middle{
     margin-top: 0px;
     max-width:80px;
}
.header-right{
    width: 370px;
    
}
.header-left{
    width: 50px;
    margin-top: 10px;
}
.body{
    height: 300px;
    display: flex;
    width: auto;
}